{% extends "base.html" %}

{% block content %}
    <form action="" method="post">
    {% csrf_token %}
    {% if form.email.errors %}
        {{ form.email.errors }}
    {% endif %}
    <div class="form-group">
        <label for="{{ form.email.id_for_label }}">
            {{ form.email.label }}
        </label>
        <input class="form-control" id="{{ form.email.id_for_label }}" 
               name="{{ form.email.html_name }}" required type="email"
               aria-describedby="{{ form.email.id_for_label }}">
        <small class="form-text text-muted">
            {{ form.email.help_text|safe }}
        </small>
        {{ form.email.errors }}
    </div>
    <button type="submit" class="btn btn-danger">发送确认邮件</button>
    </form>
{% endblock %}