{% extends 'base.html' %}

{% block content %}
<h2>提示信息</h2>
    {% comment %}
    <a href="{% url 'topic-create' %}">创建贴吧</a>
    {% endcomment %}
    <ul class="list-group">
        {% for notification in notification_list %}
            <li class="list-group-item 
                       {{ notification.read|yesno:'bg-white,bg-primary' }}">
                <a href="{{ notification.link }}"
                   style="color: {{ notification.read|yesno:'black,white' }};">
                    {{ notification.message }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}